<div class="container">
<h1 style="padding-left:350px;color:rgb(10, 3, 10)">Table</h1>
<table style="text-align:center" border="4" >
    <tr>
        <th style="color:tomato">NAME</th>
        <th style="color:tomato">CAPITAL</th>
        <th style="color:tomato">CURRENCIES</th>
    </tr>
   <tr *ngFor="let employ of Employees">
       <td>{{employ.name}}</td>
       <td>{{employ.capital}}</td>
       <td> <span *ngFor="let n of employ.currencies">{{n.name}}</span></td>
   </tr>
</table>
</div>

  